.back {
    background-color: rgb(200, 200, 200);
    height: 30px;
    width: 90px;
}

.aback {
    color: rgb(100, 100, 100);
    margin: 5px;
    padding: 5px;
    display: block;
}

.download {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(200, 200, 200);
    height: 30px;
    width: 140px;
}

.adownload {
    color: rgb(100, 100, 100);
    display: block;
    position: absolute;
    margin: 5px;
    padding: 5px;
}

.photos {
    position: absolute;
    left: 140px;
}